.profile__edit-button {
    width: 24px;
    height: 24px;
    margin-left: 13px;
    background: no-repeat center url(../../../vendor/image/editbutton.svg);
    border: 0;
    padding: 0;
    background-size: 100%;
    cursor: pointer;
    transition: opacity .2s ease-in;
    outline: none;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 560px) {
.profile__edit-button {
    width: 17px;
    height: 17px;
    margin-left: 10px;
    }
}