.login__link {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  margin-left: 5px;
  color: #fff;
}

.login__link:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: linear 0.3s;
}
