.popup__container {
  max-width: 430px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 25px rgb();
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
  position: relative;
  cursor: default;
  padding-bottom: 37px;
}

@media screen and (max-width: 565px) {
  .popup__container {
    width: 282px;
    padding-bottom: 25px;
  }
}
