@import url(./vendor/normalize.css);
@import url(./vendor/fonts/inter.css);
/* стили page */
@import url(./blocks/page/page.css);
@import url(./blocks/page/__root/page__root.css);
/* стили header */
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/header/__wrap/header__wrap.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/header/__link/header__link.css);
@import url(./blocks/header/__signout/header__signout.css);
/* стили profile */
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__username/profile__username.css);
@import url(./blocks/profile/__user-description/profile__user-description.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__edit-image/profile__edit-image.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__add-image/profile__add-image.css);
@import url(./blocks/profile/__edit/profile__edit.css);
@import url(./blocks/profile/__avatar-edit/profile__avatar-edit.css);
@import url(./blocks/profile/__avatar-container/profile__avatar-container.css);
/* стили elements */
@import url(./blocks/elements/elements.css);
/* стили element */
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__description/element__description.css);
@import url(./blocks/element/__title/element__title.css);
@import url(./blocks/element/__like-button/element__like-button.css);
@import url(./blocks/element/__like-button/_active/element__like-button_active.css);
@import url(./blocks/element/__delete-button/element__delete-button.css);
@import url(./blocks/element/__like-button/element__like-button-container.css);
@import url(./blocks/element/__like-button/element__like-counter.css);
@import url(./blocks/element/__delete-button/_hidden/element__delete-button_hidden.css);
/* стили footer */
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
/* стили popup */
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__button-close/popup__button-close.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__button-save/popup__button-save.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__open-image/popup__open-image.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__caption/popup__caption.css);
@import url(./blocks/popup/__figure-container/popup__figure-container.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form_edit-margin/popup__form-edit-margin.css);
@import url(./blocks/popup/__tooltip-img/popup__tooltip-img.css);
@import url(./blocks/popup/__tooltip-description/popup__tooltip-description.css);
/* ошибки */
@import url(./blocks/popup/__error/popup__error.css);
@import url(./blocks/popup/__error-active/popup__error-active.css);
@import url(./blocks/popup/__button-disabled/popup__button-disabled.css);
@import url(./blocks/popup/__field-invalid/popup__field-invalid.css);

/* логин */
@import url(./blocks/login/login.css);
@import url(./blocks/login/__button-submit/login__button-submit.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__input/login__input.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__register-container/login__register-container.css);
@import url(./blocks/login/__register-text/login__register-text.css);
@import url(./blocks/login/__link/login__link.css);
