.element__like-button {
    background: url(../../../vendor/image/heart.svg) center no-repeat;
    width: 22px;
    height: 19px;
    border: 0;
    padding: 0;
    align-self: center;
    background-size: 100%;
    margin-right: 20px;
    cursor: pointer;
    transition: opacity 1s linear;
    outline: none;
}

.element__like-button:hover {
  cursor: pointer;
}